<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Droppable - Default functionality</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/css/jquery-ui-1.10.3.custom.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="../lib/js/jquery-1.10.2.js"></script>
  <script src="../lib/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
 
<ul id="sortable1" class="connected-sortable1">
  <li class="ui-state-default">
    <div class="command">
      <div class="title">SetX</div>
      <input type="text" class="param" name="value" value="1">
    </div>
  </li>
  <li class="ui-state-default">
    <div class="command">
      <div class="title">SetY</div>
      <input type="text" class="param" name="value" value="1">
    </div>
  </li>
  <li class="ui-state-default">
    <div class="command">
      <div class="title">Show</div>
    </div>
  </li>
  <li class="ui-state-default">
    <div class="command">
      <div class="title">Hide</div>
    </div>
  </li>
  <li class="ui-state-default">
    <div class="command">
      <div class="title">Move</div>
      <input type="text" class="param" name="amount" value="1">
    </div>
  </li>
  <li class="ui-state-default">
    <div class="command">
      <div class="title">Costume</div>
      <input type="text" class="param" name="id" value="1">
    </div>
  </li>
  <li class="ui-state-default">
    <div class="command">
      <div class="title">Background</div>
      <input type="text" class="param" name="id" value="1">
    </div>
  </li>
  <li class="ui-state-default">
    <div class="command">
      <div class="title">Repeat</div>
      <input type="text" class="param" name="iterations" value="1">
    </div>
  </li>
   <button class = "btn btn-default" id="getJson">JSON</button>
</ul>

<ul id="sortable2" class="connected-sortable">
</ul>

<div id="feedback-area" class="feedback-area">
</div>
 
 
</body>
</html>