<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Droppable - Default functionality</title>
  <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/css/jquery-ui-1.10.3.custom.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="../lib/js/jquery-1.10.2.js"></script>
  <script src="../lib/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</head>
<body>
 
<ul id="sortable1" class="connectedSortable1">
  <li class="ui-state-default">
  	<div class="command">
  		<div class="title">SetX</div>
      <input type="text" class="param" name="thyagesh" value="1"></div>
      <input type="text" class="param" name="bharath" value="1"></div>
  	</div>
  </li>
  <li class="ui-state-default">
  	<div class="command">
  		<div class="title">SetY</div>
  		<div class="params"></div>
  	</div>
  </li>
  <li class="ui-state-default">
  	<div class="command">
  		<div class="title">Show</div>
  		<div class="params"></div>
  	</div>
  </li>
  <li class="ui-state-default">
  	<div class="command">
  		<div class="title">Hide</div>
  		<div class="params"></div>
  	</div>
  </li>
  <li class="ui-state-default">
  	<div class="command">
  		<div class="title">Move</div>
  		<div class="params"></div>
  	</div>
  </li>
  <li class="ui-state-default">
  	<div class="command">
  		<div class="title">Costume</div>
  		<div class="params"></div>
  	</div>
  </li>
  <li class="ui-state-default">
  	<div class="command">
  		<div class="title">Background</div>
  		<div class="params"></div>
  	</div>
  </li>
  <li class="ui-state-default">
  	<div class="command">
  		<div class="title">Repeat</div>
  		<div class="params"></div>
  	</div>
  </li>
</ul>
 
<ul id="sortable2" class="connectedSortable">
</ul>

<div id="feedbackArea" class="feedbackArea">
</div>
 
 
</body>
</html>