<!DOCTYPE html>
<html>
<head>
    <title>Visual IDE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="A visual IDE for children to learn about programming">
    <meta name="keywords" content="programming, visual-ide">
</head>
<body>
    <h1>Welcome to Visual IDE</h1>
    {%if user_name %}
        <p>Welcome, {{user_name}}. You can <a href="{{logout_url}}">logout</a></p>
    {%else%}
        <p>Welcome, stranger. You can <a href="{{login_url}}">login</a></p>
    {%endif%}
</body>
</html>
