<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visual IDE</title>
  <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/jquery-ui-1.10.3.custom.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

  <script type="text/javascript" src="/lib/js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="/lib/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/lib/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery-cookie.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  <nav id="menuBar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> VIDE </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            {% if title_list %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Load <span class="caret"></span>
              {% elif user_name %}
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                Load 
              {% else %}
              <a href="#">
                <span title="Please login to load"><strike>Load </strike></span>
              {% endif %}
            </a>
            {% if titles_list %}
              <ul class="dropdown-menu" role="menu" id="load-titles-list">
                  {% for title in titles_list %}
                    <li role="presentation">
                      <a href="#" tabindex="-1" class="link">
                        <span class="load-project">{{title}}</span>
                        <span class="glyphicon glyphicon-remove pull-right remove-project"></span>
                      </a>
                    </li>
                  {% endfor %}
              </ul>
            {% endif %}
          </li>
        </ul>

        {% if user_name %}
          <form class="navbar-form navbar-left" role="save">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Program Name" id="saveTitleName">
            </div>
            <button type="submit" class="save-title btn btn-default">Save</button>
          </form>
        {% else %}
          <ul class="nav navbar-nav navbar-left">
            <li>
              <a href="#" title="Please login to save"><strike>Save</strike></a>
            </li>
          </ul>
        {% endif %}

        <ul class="nav navbar-nav navbar-left" role="play">
          <li>
            <a href="#" id="playButton">Play</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
            {%if user_name%}
              <a href="{{logout_url}}">Logout ({{user_name | truncate(10)}})</a>
            {%else%}
              <a href="{{login_url}}">Login</a>
            {%endif%}
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container" id="mainContent">
    <div class="alert alert-danger" style="display: none;">
      <strong>Failed!</strong>
      <span>Your program has been loaded.</span>
    </div>

    <div class="alert alert-success" style="display: none;">
      <strong>Success!</strong>
      <span>Your program has been loaded.</span>
    </div>

    <div class="container">
      <div class="row">
        <ul class="plain-list">
          <li id="headerCommand" class="inverse-commmand">
            <div class="command align-center">
              <div class="title">Commands</div>
            </div>
          </li>
          <li class="align-center">
            <ul id="sortable1">
              <li class="template-command-container">
                <div class="command">
                  <div class="title">SetX</div>
                  <span class="glyphicon glyphicon-remove pull-right hide remove-command"></span>
                  <input type="text" class="param" name="value" value="1">
                </div>
              </li>
              <li class="template-command-container">
                <div class="command">
                  <div class="title">Repeat</div>
                  <span class="glyphicon glyphicon-remove pull-right hide remove-command"></span>
                  <input type="text" class="param" name="iterations" value="1">
                  <div class="repeat-list hide">
                    <ul class="connected-sortable"></ul>
                  </div>
                </div>
              </li>
              <li class="template-command-container">
                <div class="command">
                  <div class="title">Show</div>
                  <span class="glyphicon glyphicon-remove pull-right hide remove-command"></span>
                </div>
              </li>
              <li class="template-command-container">
                <div class="command">
                  <div class="title">Costume</div>
                  <span class="glyphicon glyphicon-remove pull-right hide remove-command"></span>
                  <select type="text" class="param change-costume"name="id">
                  </select>
                </div>
              </li>
              <li class="template-command-container">
                <div class="command">
                  <div class="title">Move</div>
                  <span class="glyphicon glyphicon-remove pull-right hide remove-command"></span>
                  <input type="text" class="param" name="amount" value="1">
                </div>
              </li>
              <li class="template-command-container">
                <div class="command">
                  <div class="title">SetY</div>
                  <span class="glyphicon glyphicon-remove pull-right hide remove-command"></span>
                  <input type="text" class="param" name="value" value="1">
                </div>
              </li>
              <li class="template-command-container">
                <div class="command">
                  <div class="title">Hide</div>
                  <span class="glyphicon glyphicon-remove pull-right hide remove-command"></span>
                </div>
              </li>
              <li class="template-command-container">
                <div class="command">
                  <div class="title">Bg</div>
                  <span class="glyphicon glyphicon-remove pull-right hide remove-command"></span>
                  <select type="text" class="param change-bg" name="id">
                  </select>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="row canvas-area">
        <div id="programContainer" class="col-xs-3">
          <ul class="plain-list">
            <li id="headerCommand" class="inverse-commmand">
              <div class="command align-center">
                <div class="title">Program</div>
              </div>
            </li>
            <li>
              <ul id="sortable2" class="connected-sortable">
              </ul>
            </li>
          </ul>
        </div>
        <div id="feedbackArea" class="col-md-9">
          <img class="bg-image" src="/img/bg_1.jpg">
          <img class ="sprite" src = "/img/cat_1.png">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
