<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visual IDE</title>
  <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/css/jquery-ui-1.10.3.custom.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

  <script type="text/javascript" src="/lib/js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="/lib/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/js/jquery-cookie.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  {%if user_name%}<a href="{{logout_url}}">Logout</a>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Load
      {% if tiles_list %}
        <span class="caret"></span>
      {% endif %}
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      {% for title in titles_list %}
        <li role="presentation" class="load-title"><a role="menuitem" tabindex="-1" href="#">{{title}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {%else%}<a href="{{login_url}}">Login</a>{%endif%}
  <ul id="sortable1" class="connected-sortable1">
    <li class="ui-state-default">
      <div class="command">
        <div class="title">SetX</div>
        <input type="text" class="param" name="value" value="1">
      </div>
    </li>
    <li class="ui-state-default">
      <div class="command">
        <div class="title">SetY</div>
        <input type="text" class="param" name="value" value="1">
      </div>
    </li>
    <li class="ui-state-default">
      <div class="command">
        <div class="title">Show</div>
      </div>
    </li>
    <li class="ui-state-default">
      <div class="command">
        <div class="title">Hide</div>
      </div>
    </li>
    <li class="ui-state-default">
      <div class="command">
        <div class="title">Move</div>
        <input type="text" class="param" name="amount" value="1">
      </div>
    </li>
    <li class="ui-state-default">
      <div class="command">
        <div class="title">Costume</div>
        <input type="text" class="param" name="id" value="1">
      </div>
    </li>
    <li class="ui-state-default">
      <div class="command">
        <div class="title">Background</div>
        <input type="text" class="param" name="id" value="1">
      </div>
    </li>
    <li class="ui-state-default">
      <div class="command">
        <div class="title">Repeat</div>
        <input type="text" class="param" name="iterations" value="1">
      </div>
    </li>
    <button class = "btn btn-default" id="getJson">JSON</button>
    <button class="btn btn-default" id="saveJson">Save</button>
    <button class="btn btn-default" id="loadJson">Load</button>
  </ul>

  <ul id="sortable2" class="connected-sortable">
  </ul>

  <div id="feedback-area" class="feedback-area">
  </div>
</body>
</html>
