#mainContent {
  padding-top: 100px;
}

#menuBar {
  font-size: 18px;
}

#sortable1, #sortable2 {
  border: 1px solid #bbb;
  width: 200px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
}

#sortable2 {
  min-height: 400px;
  width: 500px;
}

#sortable1 > .place-holder {
  display: none;
}

.title {
  display: inline;
}

.command-container {
  border: thin #ccc solid;
  cursor: move;
  font-size: 1.2em;
  height: 45px;
  margin: 0 5px 5px 5px;
  padding: 5px;
}

.remove-command {
  cursor: pointer;
  color: black;
  font-size: 14px;
  top:7px;
}

  .remove-command:active {
    font-size: 13px;
    color: red;
  }

.feedback-area{
  border: 1px solid #eee;
  width: 142px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
}

.param{
  float: right;
  font-size: 13px;
  height: 33px;
  width: 50px;
  border: thin #ccc solid;
  border-radius: 3px;
}