#mainContent {
  padding-top: 70px;
}

#menuBar {
  font-size: 18px;
}

.commandsContainer, #sortable2, .variables-container {
  border: 3px solid #000;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0;
}

.commandsContainer, .variables-container {
  width: 100%;
  z-index: 110;
}

  .variables-container > li {
    background-color: #eee;
    border: thin #ccc solid;
    border-radius: 10px;
    cursor: not-allowed;
    display: inline-block;
    font-size: 14px;
    height: auto;
    margin: 3px 2px;
    padding: 5px;
    width: 32.5%;
    z-index: 100;
  }

#sortable2 {
  min-height: 480px;
}

.commandsContainer > .place-holder {
  display: none;
}

#programContainer {
  padding-left: 0;
}

.repeat-list {
  min-height: 30px;
  margin-top: 20px;
  border: thin dashed #000;
}

.repeat-list > .connected-sortable {
  min-height: 30px;
  margin-top: 20px;
}

.title, .title-2 {
  display: inline;
  margin-left: 10px;
}

#headerCommand {
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 2px;
}

.command-container {
  border: thin #ccc solid !important;
  cursor: move;
  font-size: 14px;
  min-height: 45px !important;
  padding: 5px !important;
  background-color: #fff;
}

.template-command-container {
  background-color: #eee;
  border: thin #ccc solid;
  border-radius: 10px;
  cursor: move;
  display: inline-block;
  font-size: 14px;
  height: 45px;
  margin: 3px 2px;
  padding: 5px;
  width: 24%;
  z-index: 100;
}

.param{
  float: right;
  font-size: 13px;
  height: 33px;
  width: 60px;
  border: thin #ccc solid;
  border-radius: 3px;
}

.remove-command {
  cursor: pointer;
  color: #C00;
  font-size: 14px;
  top:7px;
  margin-left: 5px;
  margin-right: 5px;
}

.remove-command:active {
  font-size: 13px;
  color: black;
}

#feedbackArea{
  position: relative;
  border: 1px solid #000;
  height: 500px;
  padding: 0;
}

.sprite{
  display: block;
  position: absolute;
  top: 35%;
  left: 40%;
  z-index: 1;
}

#playButton {
  color: #ede275;
}

#stopButton {
  color: #c00;
}

  #stopButton:hover {
    color: #800;
  }

#playButton:hover {
  color: #bab042;
}

#playButton:active, #stopButton:active {
  color: white;
}

.align-center {
  text-align: center;
}

.plain-list {
  padding: 0;
  list-style-type: none;
}

.wide {
  width: 200px !important;
  z-index: 20;
  background-color: #fff;
  opacity: 0.9;
}

.canvas-area {
  margin-top: 10px;
}

.bg-image{
  width: 100%;
  height: 100%;
}