#mainContent {
  padding-top: 100px;
}

#menuBar {
  font-size: 18px;
}

#sortable1, #sortable2 {
  border: 3px solid #000;
  width: 150px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0;
  float: left;
}

#sortable1 {
  width: 100%;
  z-index: 110;
}

#sortable2 {
  min-height: 400px;
  width: 250px;
}

#sortable1 > .place-holder {
  display: none;
}

.title {
  display: inline;
}

.command-container {
  border: thin #ccc solid !important;
  cursor: move;
  font-size: 1.2em;
  height: 45px !important;
  padding: 5px !important;
}

.template-command-container {
  border: thin #ccc solid;
  cursor: move;
  display: inline-block;
  font-size: 1.2em;
  height: 45px;
  margin: 3px 2px;
  padding: 5px;
  width: 24%;
  z-index: 100;
}

#headerCommand {
  background-color: black;
  color: white;
  font-size: 1.2em;
  padding: 2px;
}

.remove-command {
  cursor: pointer;
  color: black;
  font-size: 14px;
  top:7px;
}

.remove-command:active {
  font-size: 13px;
  color: red;
}

.feedback-area{
  border: 1px solid #000;
  position: relative;
  top: 10px;
  left: 10px;
  width: 420px;
  height: 420px;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0;
  float: left;
}

.param{
  float: right;
  font-size: 13px;
  height: 33px;
  width: 50px;
  border: thin #ccc solid;
  border-radius: 3px;
}

.sprite{
  position: relative;
  top: 150px;
  left: 150px;
}

.align-center {
  text-align: center;
}

.plain-list {
  padding: 0;
}

.wide {
  width: 200px !important;
}